@import 'variables.scss';
@import 'mixins.scss';

.product-wrapper {
    display: flex;
    flex-direction: column;
    @include laptop {
        flex-direction: row;

    }
}

.product-filter-wrapper {
    @include laptop {        
        flex: 0 0 200px;
    }
    padding: 24px;
}

.product-search-wrapper {
    margin-top: 16px;
    background-color: $background-dark;
}

.product-search-header {
    background-color: $secondary;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 50px;
    width: 100%;
    padding: 8px;
    justify-content: center;
    display: flex;

    input {
        max-width: 300px;
        @include laptop {
            max-width: 400px;
        }
    }
}

.product-list-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}