@import "variables.scss";
@import "mixins.scss";

* {
}

span,
p,
div {
  font-family: "Open Sans", sans-serif;
  color: rgba(black, 0.7);
}

body {
  margin: 0;
  background-color: $background;
}

.container {
  margin: 0 16px;
  @include laptop {
    margin: 0 48px;
  }
  @include desktop {
    margin: auto;
    max-width: 1550px;
  }
}
