@import 'variables.scss';
@import 'mixins.scss';

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    background-color: $background;
}

.container {
    margin: 0 16px;
    @include laptop {
        margin: 0 32px;
    }
}