$primary: #1E3163;
$secondary: #2D46B9;

$accent: #F037A5;
$accent-light: lighten($accent, 15%);
$accent-dark: darken($accent, 15%);

$background: #F8F8F8;

$background-dark: darken($background, 8%);

$primary-font: #F8F8F8;

$white: white;

$screen-sm: 1366px;
$screen: 1600px;

